<div class="d-flex flex-column w-100 h-100">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with logo">
      <mat-icon>checklist_rtl</mat-icon>
    </button>
    <span>Daily Status Update</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
  </mat-toolbar>
  
  <div class="flex-grow-1 w-100 d-flex justify-content-center align-items-center">
    <app-coming-soon></app-coming-soon>
  </div>
  
</div>